@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .placeholder-transparent:focus::placeholder {
        color: transparent;
    }

    .min-w-200{
        min-width: 200px;
    }

    .min-w-360{
    min-width: 360px;
    }

    .border-3 {
        border-width: 3px;
    }


}

#root {
    display: flex;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
    font-family: "Segoe UI", sans-serif;
}
